@font-face {
    font-family: 'Cabin', sans-serif;
    src: url(../assets/font/Cabin-VariableFont_wdth\,wght.ttf);
}
.cabin {
    font-family: 'Cabin', sans-serif;
}
@font-face {
    font-family: 'Roboto Mono', monospace;
    src: url(../assets/font/Cabin-VariableFont_wdth\,wght.ttf);
}
.roboto {
    font-family: 'Roboto Mono', monospace;
}