<footer>
    <a href="/" class="nomark">
        <img src="../assets/svg/hub24dp.svg">
        <h2 class="segoe-UI">
            Homeserver
        </h2>
    </a>
    <table>
        <tr>
            <th>Terms of service:</th>
            <th>Team:</th>
            <th>Product:</th>
        </tr>
        <tr>
            <td><a href="https://github.com/clwalther/homeserver/wiki#cookies">Cookies</a></td>
            <td><a href="https://github.com/clwalther/homeserver">Join</a></td>
            <td><a href="https://github.com/clwalther/homeserver">Open source</a></td>
        </tr>
        <tr>
            <td><a href="https://github.com/clwalther/homeserver/wiki#saftey">Saftey</a></td>
            <td><a href="https://github.com/clwalther">Check out</a></td>
            <td><a href="https://github.com/clwalther/homeserver/wiki">Documentation</a></td>
        </tr>
        <tr>
            <td><a href="https://github.com/clwalther/homeserver/wiki#privacy">Privacy</a></td>
        </tr>
    </table>
    <span class="segoe-UI">
        @ 2022 Chris Walther
    </span>
</footer>